################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Morkovka/v16/Server/sqlite3
/Morkovka/bin/Debug
/Morkovka/obj/Debug
