################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Morkovka/v16/Server/sqlite3
/Morkovka/obj/Debug
/.vs/Morkovka/v15/Server/sqlite3
